.note-board {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.add-icon {
  font-size: xx-large;
  height: 33px;
  width: 33px;
  background-color: #343a40;
  border-radius: 15%;
  color: #fff;
}
